<div class="error-content">
    <div class="error-content-title">500</div>
    <div class="error-content-title-subtitle">Sorry, the server is reporting an error.</div>
</div>

<style>
.error-content {
    padding: 48px 32px;
}
.error-content-title {
    color: rgba(0,0,0,.85);
    font-size: 54px;
    line-height: 1.8;
    text-align: center;
}
.error-content-title-subtitle {
    color: rgba(0,0,0,.45);
    font-size: 18px;
    line-height: 1.6;
    text-align: center;
}
</style>