{{define "footer"}}
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> {{.System.Version}}
        </div>
        <div class="pull-right hidden-xs">
            <b>Theme</b> {{.System.Theme}}&nbsp;&nbsp;
        </div>
        <strong>Powered by <a href="https://github.com/GoAdminGroup/go-admin">GoAdmin</a>.</strong>
        {{.FooterInfo}}
    </footer>
{{end}}