{{define "header"}}
    <header class="main-header">
        <!-- Logo -->
        <a href="{{.UrlPrefix}}" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini">{{.MiniLogo}}</span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg">{{.Logo}}</span>
        </a>
        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top">
            <div id="firstnav">
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>

                <div style="float: left;">
                    <ul class="nav navbar-nav">
                        <li class="navbar-nav-btn-left" style="display: none;">
                            <a href="javascript:;" style="border-left: none;border-right: solid 1px #dedede;">
                                <i class="fa fa-angle-double-left"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="nav-tabs-content">
                    <ul class="nav nav-tabs nav-addtabs">
                    </ul>
                </div>
                <div style="float: left;">
                    <ul class="nav navbar-nav">
                        <li class="navbar-nav-btn-right" style="display: none;">
                            <a href="javascript:;" style="border-left: solid 1px #dedede;border-right: none;">
                                <i class="fa fa-angle-double-right"></i>
                            </a>
                        </li>
                    </ul>
                </div>

                {{ template "admin_panel" . }}
            </div>
        </nav>
    </header>
{{end}}