{{define "form_layout_flow"}}

    <div class="box-body">
        <div class="fields-group">
            {{ template "form_components_layout" . }}
        </div>

        {{range $key, $data := .Content}}
            {{if eq $data.Field $.PrimaryKey}}
                <input type="hidden" name="goadmin_pk_{{$.PrimaryKey}}" value='{{$data.Value}}'>
            {{end}}
        {{end}}
    </div>

{{end}}