{{define "form_layout_filter"}}

    {{range $key, $data := .Content}}
      <div style="float: left;margin-right: 10px;">
        <div class="form-group">
          <label for="{{$data.Field}}" style="float: left; padding-top: 7px; font-weight: 300;margin-right: 10px;">{{$data.Head}}</label>
          <div class="input-group">
            {{template "form_components" $data}}
          </div>
        </div>
      </div>
    {{end}}

    <div style="float: left;margin-right: 10px;">
      <div class="form-group" style="float: right; margin-right: 30px; margin-left: 30px;">
        <button type="submit" class="btn btn-primary">{{lang "search"}}</button>
        <a href="{{.Url}}" class="btn btn-default reset" data-loading-text="{{lang "reset"}}">{{lang "reset"}}</a>
      </div>
    </div>

{{end}}