{{define "content"}}
    <script>
        let toastMsg = '{{lang "Refresh succeeded"}} !';
        $('.grid-per-pager').on("change", function (e) {
            console.log("changing...");
            $.pjax({url: this.value, container: '#pjax-container'});
        });
        $('.grid-refresh').on('click', function () {
            $.pjax.reload('#pjax-container');
            toastr.success(toastMsg);
        });
        $('a.new-tab-link').on('click', function () {
            console.log('click', $(this).attr('href'));
            listenerForAddNavTab($(this).attr('href'))
        });
    </script>
    <script src="{{link .CdnUrl .UrlPrefix "/assets/dist/js/content.min.js"}}"></script>
    {{.AssetsList}}
    {{if lang .Panel.Title}}
        <section class="content-header">
            <div>
                <ol class="breadcrumb">
                <li><a href="{{.IndexUrl}}"> {{lang "home"}}</a></li>
                {{.Menu.FormatPath}}
                </ol>
            </div>
            <h4>
                {{lang .Panel.Title}}
                <small>{{lang .Panel.Description}}</small>
            </h4>
        </section>
    {{end}}

    <!-- Main content -->
    <section class="content">
        {{.Panel.Content}}
    </section>
{{end}}