{{define "form_checkbox"}}
    {{range $key, $v := .Options }}
        <span class="icheck">
            <label class="checkbox-inline">
                <input type="checkbox" class="{{$.FieldClass}}" {{attr $v.SelectedLabel}} value='{{$v.Value}}' name="{{$.Field}}" style="position: absolute; opacity: 0;">
                {{if ne $v.Text ""}}
                    &nbsp;{{$v.Text}}&nbsp;&nbsp;
                {{end}}
            </label>
        </span>
    {{end}}
<script>
    $('input.{{.FieldClass}}').iCheck({checkboxClass: 'icheckbox_minimal-blue'})
</script>
{{end}}