{{define "form_checkbox_stacked"}}
    <div class="checkbox_stacked" style="margin-top: -7px;">
    {{range $key, $v := .Options }}
        <div class="checkbox icheck">
            <label class="checkbox-inline">
                <input type="checkbox" class="{{$.Field}}" {{$v.SelectedLabel}} value='{{$v.Value}}' name="{{$.Field}}[]" class="grid-select-all" style="position: absolute; opacity: 0;">
                &nbsp;{{$v.Text}}&nbsp;&nbsp;
            </label>
        </div>
    {{end}}
    </div>
<script>
    $('.{{.Field}}').iCheck({checkboxClass: 'icheckbox_minimal-blue'})
</script>
{{end}}