{{define "form_file"}}
    <label for="{{.Field}}" class="col-sm-2 {{if .Must}}asterisk{{end}} control-label">{{.Head}}</label>
    <div class="col-sm-8">
        <input type="file" class="{{.Field}}" name="{{.Field}}" data-initial-preview="{{.Value2}}"
               data-initial-caption="{{.Value}}">
        {{if ne .HelpMsg ""}}
            <span class="help-block">
                <i class="fa fa-info-circle"></i>&nbsp;{{.HelpMsg}}
            </span>
        {{end}}
        <input type="hidden" value="0" name="{{.Field}}__delete_flag" class="{{.Field}}__delete_flag">
    </div>
    <script>
        $("input.{{.Field}}").fileinput({
            "overwriteInitial": true,
            "initialPreviewAsData": true,
            "browseLabel": "Browse",
            "showRemove": false,
            "previewClass": "preview-{{.Field}}",
            "showUpload": false,
            "allowedFileTypes": ["image"]
        });
        $(".preview-{{.Field}} .close.fileinput-remove").on("click", function (e) {
            $(".{{.Field}}__delete_flag").val("1")
        });
    </script>
{{end}}