{{define "form_radio"}}
    {{$field := .Field}}
    {{range $key, $v := .Options }}
        <input type="radio" name="{{$field}}" value="{{$v.Value}}"
               class="minimal {{$field}}" {{$v.SelectedLabel}}
               style="position: absolute; opacity: 0;">&nbsp;{{if ne $v.TextHTML ""}}{{$v.TextHTML}}{{else}}{{$v.Text}}{{end}}&nbsp;&nbsp;
    {{end}}
    <script>
        $(function () {
            $('.{{.Field}}').iCheck({radioClass: 'iradio_minimal-blue'});
        });
    </script>
{{end}}