{{define "form_rich_text"}}
    <div id="{{.Field}}-editor">
    </div>
    <input type="hidden" id="{{.Field}}" name="{{.Field}}" value='{{.Value}}'
           placeholder="{{.Placeholder}}">
    <script type="text/javascript">
        {{$field := (js .Field)}}
        {{$field}}editor = new window.wangEditor('#{{.Field}}-editor');
        {{$field}}editor.customConfig.onchange = function (html) {
            $('#{{.Field}}').val(html)
        };
        {{.OptionExt}}
        {{$field}}editor.create();
        {{$field}}editor.txt.html('{{.Value}}');
        {{if not .Editable}}
        {{$field}}editor.$textElem.attr('contenteditable', false);
        {{end}}
        window.wangEditor.fullscreen.init('#{{.Field}}-editor');
        $("form .btn.btn-primary").on("click", function(){
            $("#{{.Field}}").val({{$field}}editor.txt.html())
        });
    </script>
{{end}}